body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-size: cover;
    background-image: url(../topfondcentre.JPG);
    color: white;
}

p {
    text-align: center;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    color: white;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.topnav li {
    float: left;
}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
    background-color: green;
}

ul.topnav li a.active {
    background-color: green;
}

ul.topnav li.right {
    float: right;
}

@media screen and (max-width: 600px) {

    ul.topnav li.right,
    ul.topnav li {
        float: none;
    }
}

#gauche{
    float: left; 
    width: 30px; 
}

#droite{
    float: right; 
    width: 30px; 
}