body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-size: cover;
    background-image: url(../images/fondtop.png);
    color: white;
}

p {
    text-align: center;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    color: white;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.topnav li {
    float: left;
}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
    background-color: green;
}

ul.topnav li a.active {
    background-color: green;
}

ul.topnav li.right {
    float: right;
}

@media screen and (max-width: 600px) {

    ul.topnav li.right,
    ul.topnav li {
        float: none;
    }
}

#gauche {
    float: left;
    margin-left: 15%;
    width: 30%;
    height: 100%;
    background-color: #333;
}

#droite {
    float: right;
    margin-right: 15%;
    width: 30%;
    height: 100%;
    text-align: center;
}

.br{
    height: 20px;
    color: green;
}

.bot{
    margin-bottom: 300px;
}

.global {
    display: flex;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10%;
    margin-bottom: 50px;
    background-color: #333;
    color: white;
}

.partiel {
    flex: 1;
    padding: 1em;
    border: none;
}

.partiel:hover {
    background-color: #4e4e4e;
}